<mat-dialog-content>
    <div class="container" style="min-width: 250px;; min-height: 200px;">
        <form [formGroup]="dropDownForm" (ngSubmit)="save()" (reset)="resetForm()">
            <ng-multiselect-dropdown [settings]="dropdownSettings" [(ngModel)]="this.selectedItems"
                [data]="dropdownList" [placeholder]="'Select Employee'" formControlName="myItems"
                (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)">
            </ng-multiselect-dropdown>

            <br />
            <hr />
            <input type="submit" value="Submit"> | <input type="reset" value="Reset"> |
            <button class="btn btn-danger btn-sm" mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
        </form>

    </div>
</mat-dialog-content>