<div class="container mt-3">
    <div class="container mt-3">
        <h2>Companies</h2>
        <p>The companies list</p>
        <button type="button" class="btn btn-primary" (click)="addCompany()">Add company</button>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies">
                    <td>{{company.name}}</td>
                    <td>{{company.address}}</td>
                    <td>{{company.country}}</td>
                    <td>
                        <button class="btn btn btn-success btn-sm"  (click)="editCompany(company.id)">Edit</button>
                        &nbsp;
                        <button class="btn btn-danger btn-sm"  (click)="deleteCompany(company.id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>